html {
  font-size: 100%;
}
body {
  font-size: 1rem;
  background: #efefef;
}

/* Menu Css*/
.navbar-brand {
  height: 100%;
  width: auto;
}

.navbar-brand img {
  height: 25px;
}

.navbar .container-fluid {
  max-width: 1200px;
}

.navbar-collapse {
  justify-content: right;
}

/* Body Css*/
.home-page-banner-image-container {
  height: calc(100vh - 66px);
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .home-page-banner-image-container {
    height: 50vh;
    width: 100%;
  }
}

.carousel-slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0em 1em 0em;
}

.carousel-slider {
  width: 80%;
  max-width: 1200px;
}

/* Footer Css*/
footer {
  background: #032ca6;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #efefef;
}
