html {
  font-size: 100%;
}
body {
  font-size: 1rem;
  background: #efefef;
}

/* Menu Css*/
.navbar-brand {
  height: 100%;
  width: auto;
}

.navbar-brand img {
  height: 25px;
}

.navbar .container-fluid {
  max-width: 1200px;
}

.navbar-collapse {
  justify-content: right;
}

.nav-item a {
  font-weight: 500;
  color: #707070 !important;
  font-size: 18px;
}

@media only screen and (max-width: 990px) {
  .navbar-toggler {
    border: 0px;
    padding: 0px;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
  }
  .mobile-menu-dropdown {
    width: 100%;
    position: absolute;
    height: auto;
    background: #498fcc;
    top: 56px;
    right: 0;
    z-index: 1;
    padding: 1em 0;
  }
  .collapse:not(.show) {
    display: none !important;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item a {
    color: #ffffff !important;
    text-align: center;
    font-size: 16px;
  }

  /* .navbar-toggler .navbar-toggler-icon {
    background-image: url("../img/navbar-icon-close.png") !important;
  }

  .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("../img/navbar-icon.png") !important;
  } */

  .navbar-toggler-icon {
    height: 1em;
    width: 1em;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url("../img/navbar-icon-close.png") !important;
  }

  .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
    background-image: url("../img/navbar-icon.png") !important;
  }
}

/* Body Css*/
.home-page-banner-image-container {
  height: calc(100vh - 66px);
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    z-index: 1;
  }
  .home-page-banner-image-container {
    height: calc(50vh);
    width: 100%;
    background-image: none;
    background-attachment: scroll;
  }
  .mobile-background-image-container {
    background-image: url("../img/banner.jpg");
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}

.carousel-slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0em 1em 0em;
}

.carousel-slider {
  width: 80%;
  max-width: 1200px;
}

.slick-prev:before,
.slick-next:before {
  color: #333333 !important;
}

.each-carousel-slider {
  position: relative;
  padding: 0px;
}

.each-carousel-slider img {
  width: 100%;
}

.each-carousel-slider label {
  padding: 1em 5em;
  background-color: rgb(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
}

@media only screen and (max-width: 450px) {
  .carousel-slider {
    width: 90%;
  }
  .slick-next {
    right: -20px !important;
  }
  .slick-prev {
    left: -20px !important;
  }
  .each-carousel-slider label {
    font-size: 18px;
    padding: 0.5em 3em;
  }
}

.news-today-container {
  display: flex;
  justify-content: center;
}

.each-news-today {
  width: 80%;
  max-width: 1200px;
}

h4.news-today-title {
  font-weight: 700;
  margin-bottom: 1.3em;
}

.news-date {
  color: #a04a4b;
  font-weight: 500;
  margin-bottom: 0.2em;
  font-size: 14px;
}

.news-headline {
  font-weight: 500;
  line-height: 1.2em;
}

hr.solid-divider {
  border-top: 2px solid #3d3d3d;
}

@media only screen and (max-width: 450px) {
  .each-news-today {
    width: 90%;
  }
}

/* Footer Css*/
footer {
  background: #0e0e0e;
  padding: 0.5em 0em;
  text-align: center;
}

footer p {
  color: #ffffff;
  margin: 0px;
}
